In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [34]:
df = pd.read_csv('train.csv',sep = ';')
pd.set_option('display.max_columns', 500)
df

,USER_ID,ACT_DATE,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,BIRTHDAY,GENDER,MLLS_STATE,PORTED_IN,PORTED_OUT,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16
0,6925431,2012-06-21,D,TP_STATE,0.0,NaN,NaN,1988-04-12,M,NaN,False,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0
1,8027797,2013-11-05,D,TP_DL012,20.0,Commercial,Standard,1984-01-02,M,Active,False,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1
2,23498773,2015-07-17,D,TP_L,0.0,Commercial,Promo,1996-09-09,M,Active,False,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1
3,7039091,2012-08-02,D,TP_DL012,1.0,Commercial,Standard,NaN,M,NaN,False,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1
4,7510978,2013-03-06,D,TP_ANDR,0.0,NaN,NaN,1991-03-16,F,Active,False,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,24582357,2016-04-18,D,TP_3GM,0.0,Commercial,Promo,1982-01-05,F,NaN,False,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1
29204,22868541,2015-01-10,D,TP_S,1.0,Commercial,Standard,1978-08-13,M,NaN,False,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1
29205,22746252,2014-12-04,D,TP_STP,0.0,Commercial,Standard,1979-07-02,M,NaN,False,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1
29206,24917373,2016-07-28,D,TP_XXL,0.0,Commercial,Promo,1995-07-19,M,NaN,False,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1
29207,22174783,2014-06-05,D,TP_CRTBL,2.0,Commercial,Standard,1995-04-19,F,Active,False,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1

Add columns of age and duration in months

In [35]:
from datetime import date, datetime


today = datetime(2016,11,1)
def calculate_age(born):    
    return (today - born)/np.timedelta64(1,'Y')


def calculate_months(beg):
    return (today - beg)/np.timedelta64(1,'M')

In [36]:
age = []
usage = []

for entry in range(len(df)):
    usage.append(int(calculate_months(pd.to_datetime(df.ACT_DATE[entry]))))
    age.append(calculate_age(pd.to_datetime(df.BIRTHDAY[entry])))

age = pd.Series(age)
usage = pd.Series(usage)
age = (age.fillna(age.mean())).astype(dtype=np.int64)

df['AGE'] = age
df['DURATION_M'] = usage

In [37]:
df = df.drop(['ACT_DATE', 'USER_ID', 'BIRTHDAY', 'PORTED_OUT'], axis = 1)
df

,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M
0,D,TP_STATE,0.0,NaN,NaN,M,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52
1,D,TP_DL012,20.0,Commercial,Standard,M,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35
2,D,TP_L,0.0,Commercial,Promo,M,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15
3,D,TP_DL012,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50
4,D,TP_ANDR,0.0,NaN,NaN,F,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,D,TP_3GM,0.0,Commercial,Promo,F,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6
29204,D,TP_S,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21
29205,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22
29206,D,TP_XXL,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3
29207,D,TP_CRTBL,2.0,Commercial,Standard,F,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28

Make activity column

In [38]:
k = 0.2
octmean = df.REVENUE_OCT_16.mean()
novmean = df.REVENUE_NOV_16.mean()
activity = []

for entry in range(len(df)):
    if (df.REVENUE_OCT_16[entry] >= octmean*k)&(df.REVENUE_NOV_16[entry] >= octmean*k):
        activity.append('Active')
    elif (df.REVENUE_OCT_16[entry] == 0)&(df.REVENUE_NOV_16[entry] == 0):
        activity.append('Inactive')
    else:
        activity.append('Weakly active')

df['ACTIVITY'] = pd.Series(activity)
df

,STATUS,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M,ACTIVITY
0,D,TP_STATE,0.0,NaN,NaN,M,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52,Inactive
1,D,TP_DL012,20.0,Commercial,Standard,M,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35,Active
2,D,TP_L,0.0,Commercial,Promo,M,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15,Active
3,D,TP_DL012,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50,Active
4,D,TP_ANDR,0.0,NaN,NaN,F,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43,Inactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,D,TP_3GM,0.0,Commercial,Promo,F,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6,Active
29204,D,TP_S,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21,Weakly active
29205,D,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22,Active
29206,D,TP_XXL,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3,Weakly active
29207,D,TP_CRTBL,2.0,Commercial,Standard,F,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28,Weakly active

OHE of ACTIVITY column

In [39]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)

df1 = pd.DataFrame(OHE.fit_transform(df[['ACTIVITY']]), columns=['ACTIVE', 'WEAKLY_ACTIVE', 'INACTIVE'])

df = df.join(df1)
df = df.drop(['STATUS'], axis = 1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE
0,TP_STATE,0.0,NaN,NaN,M,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52,Inactive,0.0,1.0,0.0
1,TP_DL012,20.0,Commercial,Standard,M,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35,Active,1.0,0.0,0.0
2,TP_L,0.0,Commercial,Promo,M,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15,Active,1.0,0.0,0.0
3,TP_DL012,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50,Active,1.0,0.0,0.0
4,TP_ANDR,0.0,NaN,NaN,F,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43,Inactive,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,TP_3GM,0.0,Commercial,Promo,F,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6,Active,1.0,0.0,0.0
29204,TP_S,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21,Weakly active,0.0,0.0,1.0
29205,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22,Active,1.0,0.0,0.0
29206,TP_XXL,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3,Weakly active,0.0,0.0,1.0
29207,TP_CRTBL,2.0,Commercial,Standard,F,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28,Weakly active,0.0,0.0,1.0

Log TP_CHANGES_NUM

In [40]:
logtp = []
for entry in df.TP_CHANGES_NUM:
    if entry:
        logtp.append(np.log(entry) if entry > 0 else 0)

df['LOG_TP_CHANGES_NUM'] = pd.Series(logtp)
df.drop(['TP_CHANGES_NUM'], axis=1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,GENDER,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM
0,TP_STATE,0.0,NaN,NaN,M,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52,Inactive,0.0,1.0,0.0,2.995732
1,TP_DL012,20.0,Commercial,Standard,M,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35,Active,1.0,0.0,0.0,0.000000
2,TP_L,0.0,Commercial,Promo,M,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15,Active,1.0,0.0,0.0,0.000000
3,TP_DL012,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50,Active,1.0,0.0,0.0,0.000000
4,TP_ANDR,0.0,NaN,NaN,F,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43,Inactive,0.0,1.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,TP_3GM,0.0,Commercial,Promo,F,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6,Active,1.0,0.0,0.0,NaN
29204,TP_S,1.0,Commercial,Standard,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21,Weakly active,0.0,0.0,1.0,NaN
29205,TP_STP,0.0,Commercial,Standard,M,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22,Active,1.0,0.0,0.0,NaN
29206,TP_XXL,0.0,Commercial,Promo,M,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3,Weakly active,0.0,0.0,1.0,NaN
29207,TP_CRTBL,2.0,Commercial,Standard,F,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28,Weakly active,0.0,0.0,1.0,NaN

Predict gender by average value of OUTGOING_OCT_16 and OUTGOING_NOV_16

In [41]:
gb = df.groupby(by=['GENDER'])[['OUTGOING_OCT_16','OUTGOING_NOV_16']].mean()
gb

        OUTGOING_OCT_16  OUTGOING_NOV_16
GENDER
F            161.837654       156.214314
M            116.037778       116.883044

In [42]:
f_outgoing_mean = 162.78
m_outgoing_mean = 115
border = (f_outgoing_mean + m_outgoing_mean)/2


for entry in range(len(df)):
    if pd.isnull(df.GENDER[entry]):
        df.GENDER[entry] = 'F' if (df.OUTGOING_OCT_16[entry]+ 
                                          df.OUTGOING_NOV_16[entry])/2 > border else 'M'

C:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [43]:
OHE = OneHotEncoder(
    sparse=False,  
    handle_unknown='ignore'
)
df.GENDER.value_counts(dropna = False)
df1 = pd.DataFrame(OHE.fit_transform(df[['GENDER']]), columns = ['FEMALE', 'MALE'])
df = df.join(df1)
df = df.drop(['GENDER'], axis = 1)
df

,TP_CURRENT,TP_CHANGES_NUM,START_PACK,OFFER_GROUP,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE
0,TP_STATE,0.0,NaN,NaN,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52,Inactive,0.0,1.0,0.0,2.995732,0.0,1.0
1,TP_DL012,20.0,Commercial,Standard,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35,Active,1.0,0.0,0.0,0.000000,0.0,1.0
2,TP_L,0.0,Commercial,Promo,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15,Active,1.0,0.0,0.0,0.000000,0.0,1.0
3,TP_DL012,1.0,Commercial,Standard,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50,Active,1.0,0.0,0.0,0.000000,0.0,1.0
4,TP_ANDR,0.0,NaN,NaN,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43,Inactive,0.0,1.0,0.0,0.000000,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,TP_3GM,0.0,Commercial,Promo,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6,Active,1.0,0.0,0.0,NaN,1.0,0.0
29204,TP_S,1.0,Commercial,Standard,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21,Weakly active,0.0,0.0,1.0,NaN,0.0,1.0
29205,TP_STP,0.0,Commercial,Standard,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22,Active,1.0,0.0,0.0,NaN,0.0,1.0
29206,TP_XXL,0.0,Commercial,Promo,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3,Weakly active,0.0,0.0,1.0,NaN,0.0,1.0
29207,TP_CRTBL,2.0,Commercial,Standard,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28,Weakly active,0.0,0.0,1.0,NaN,1.0,0.0

Trafic plans and average refill in NOV and OCT

In [44]:
df.TP_CURRENT.value_counts()
tp = df.pivot_table(
    values = ['REFILL_OCT_16','REFILL_NOV_16'], 
    index = 'TP_CURRENT',  
    aggfunc = 'mean'
)
tp

            REFILL_NOV_16  REFILL_OCT_16
TP_CURRENT
TP_3GM       77591.027308   74408.322497
TP_ANDR     158134.546636  142486.187845
TP_CRTBL     30105.433901   31586.915383
TP_DINAM     24000.000000  100000.000000
TP_DL006     37565.217391   35913.043478
TP_DL012     65661.068702   67654.961832
TP_FREE      40921.787709   38324.022346
TP_INFIN     42694.444444   48361.111111
TP_INTER     62608.695652   61434.782609
TP_L         92588.832487   92335.025381
TP_LNEW      91361.111111   83388.888889
TP_LTP       86119.402985   73283.582090
TP_LYL30     12857.142857    4761.904762
TP_LYOLF     46691.176471   49558.823529
TP_M         65133.136095   66390.532544
TP_MLTSV     63846.153846   73461.538462
TP_MNEW      64808.959157   64505.928854
TP_MTP       74409.448819   67244.094488
TP_OPENL     31886.792453   36000.000000
TP_OPEOP     18021.390374   15240.641711
TP_S         55930.232558   56201.550388
TP_SNEW      62717.121588   64925.558313
TP_ST240     18857.142857   15428.571429
TP_STATE     30388.601036   30181.347150
TP_STP       44709.035222   44425.727412
TP_SUPN      97608.695652   90543.478261
TP_TLKTV     46293.103448   54137.931034
TP_UTP       37000.000000   67000.000000
TP_XL       110187.353630  104160.811866
TP_XS        36579.634465   36318.537859
TP_XXL      110769.230769   81923.076923

Remove excess data from columns START_PACK and OFFER_GROUP. Combining and LE.

In [45]:
pd.crosstab(df['START_PACK'].fillna(-1), df['OFFER_GROUP'].fillna(-1))
df['Combined'] = df[['START_PACK','OFFER_GROUP']].fillna('').sum(axis=1)
LE = LabelEncoder()
df1 = pd.DataFrame(LE.fit_transform(df[['Combined']]), columns=['L_OFFER_START_PACK'])
df = df.join(df1)
df = df.drop(['Combined', 'OFFER_GROUP', 'START_PACK'], axis = 1)
df

C:\Python\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,TP_CURRENT,TP_CHANGES_NUM,MLLS_STATE,PORTED_IN,OBLIG_NUM,OBLIG_ON_START,ASSET_TYPE_LAST,DEVICE_TYPE_BUS,USAGE_AREA,REFILL_OCT_16,REFILL_NOV_16,OUTGOING_OCT_16,OUTGOING_NOV_16,GPRS_OCT_16,GPRS_NOV_16,REVENUE_OCT_16,REVENUE_NOV_16,ACTIVITY_DEC_16,AGE,DURATION_M,ACTIVITY,ACTIVE,WEAKLY_ACTIVE,INACTIVE,LOG_TP_CHANGES_NUM,FEMALE,MALE,L_OFFER_START_PACK
0,TP_STATE,0.0,NaN,False,NaN,False,NaN,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,28,52,Inactive,0.0,1.0,0.0,2.995732,0.0,1.0,0
1,TP_DL012,20.0,Active,False,NaN,False,NaN,Smartphone,Minsk,150000.0,90000.0,337.433333,821.266667,2319.0,2896.0,14.171355,9.75,1,32,35,Active,1.0,0.0,0.0,0.000000,0.0,1.0,2
2,TP_L,0.0,Active,False,NaN,False,NaN,Smartphone,Minsk,180000.0,100000.0,396.033333,145.466667,80369.0,15803.0,16.170000,10.74,1,20,15,Active,1.0,0.0,0.0,0.000000,0.0,1.0,1
3,TP_DL012,1.0,NaN,False,NaN,False,NaN,Smartphone,Regional Cities,100000.0,80000.0,234.900000,306.283333,1155.0,1695.0,8.780000,9.42,1,35,50,Active,1.0,0.0,0.0,0.000000,0.0,1.0,2
4,TP_ANDR,0.0,Active,False,NaN,False,Smartphone,Undefined,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.00,0,25,43,Inactive,0.0,1.0,0.0,0.000000,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29203,TP_3GM,0.0,NaN,False,1.0,True,Modem (3G),Modem/Router,Minsk,100000.0,100000.0,0.000000,0.000000,7190.0,6476.0,9.900000,9.90,1,34,6,Active,1.0,0.0,0.0,NaN,1.0,0.0,1
29204,TP_S,1.0,NaN,False,NaN,False,NaN,Smartphone,Local Towns,60000.0,0.0,174.416667,138.083333,542.0,370.0,6.100000,0.00,1,38,21,Weakly active,0.0,0.0,1.0,NaN,0.0,1.0,2
29205,TP_STP,0.0,NaN,False,1.0,True,Smartphone,Smartphone,Mix,190000.0,140000.0,67.183333,80.100000,6423.0,9195.0,19.180000,14.87,1,37,22,Active,1.0,0.0,0.0,NaN,0.0,1.0,2
29206,TP_XXL,0.0,NaN,False,NaN,False,NaN,Smartphone,Local Towns,0.0,130000.0,61.000000,166.583333,167.0,488.0,0.000000,13.50,1,21,3,Weakly active,0.0,0.0,1.0,NaN,0.0,1.0,1
29207,TP_CRTBL,2.0,Active,False,1.0,True,Tablet,Tablet,Minsk,0.0,70000.0,0.000000,0.000000,813.0,524.0,0.000000,14.90,1,21,28,Weakly active,0.0,0.0,1.0,NaN,1.0,0.0,2

Label encoder on Mlls state

In [ ]:
LE = LabelEncoder()
df.MLLS_STATE = df.MLLS_STATE.fillna('Not defined')

df1 = pd.DataFrame(LE.fit_transform(df[['MLLS_STATE']]), columns=['L_MLLS_STATE'])
df = df.join(df1)
df = df.drop(['MLLS_STATE'], axis = 1)
df

Oblig num to binary

In [ ]:
df.OBLIG_NUM = df.OBLIG_NUM.fillna(0)
df.OBLIG_NUM = df.OBLIG_NUM.replace(2,1)
df.OBLIG_NUM.value_counts(dropna=False)

In [46]:
pt = df.pivot_table(values='ACTIVITY',
                    columns='TP_CURRENT',
                    aggfunc=lambda x: x.mode().iat[0])

k = []
v = []
for item in pt:
    k.append(item)
    
for item in pt.iloc[0]:
    v.append(item)
d = dict(zip(k, v)) 

TP_ACTIVE = []
for entry in df.TP_CURRENT:   
    TP_ACTIVE.append(d[entry])
TP_ACTIVE
# df['TP_ISACTIVE'] = pd.Series(TP_ACTIVE)

# OHE = OneHotEncoder(
#     sparse=False,  
#     handle_unknown='ignore'
# )
# df1 = pd.DataFrame(OHE.fit_transform(df[['TP_ISACTIVE']]), 
#                    columns = ['TP_ACTIVE', 'TP_WEAKLY_ACTIVE', 'TP_INACTIVE'])
# df = df.join(df1)
# df = df.drop(['TP_ISACTIVE', 'TP_CURRENT', 'ACTIVITY'], axis = 1)
# df

['Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Weakly active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Weakly active',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Weakly active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Inactive',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Weakly active',
 'Active',
 'Weakly active',
 'Inactive',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Weakly active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Active',
 'Weakly active',
 'Weakly active',
 'Active',
 'Inactive',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 'Active',
 'Active',
 'Inactive',
 'Inactive',
 'Active',
 ...]

Boolean to bin

In [ ]:
df.PORTED_IN = df.PORTED_IN.replace(False, 0)
df.PORTED_IN = df.PORTED_IN.replace(True, 1)
df.OBLIG_ON_START = df.OBLIG_ON_START.replace(False, 0)
df.OBLIG_ON_START = df.OBLIG_ON_START.replace(True, 1)

Converting old rubles to new ones

In [ ]:
df.REFILL_OCT_16 = 0.0001 * df.REFILL_OCT_16
df.REFILL_NOV_16 = 0.0001 * df.REFILL_NOV_16

replacing nans

In [ ]:
df.REFILL_OCT_16 = df.REFILL_OCT_16.fillna(0)
df.REFILL_NOV_16 = df.REFILL_OCT_16.fillna(0)
df.REFILL_OCT_16.value_counts(dropna = False)

#df['TREND'] = np.where(df.REFILL_OCT_16 <= df.REFILL_NOV_16, 1, 0)

replacing nans

In [ ]:
df.OUTGOING_OCT_16 = df.OUTGOING_OCT_16.fillna(0)
df.OUTGOING_NOV_16 = df.OUTGOING_NOV_16.fillna(0)

replacing nans

In [ ]:
df.GPRS_OCT_16 = df.GPRS_OCT_16.fillna(0)
df.GPRS_NOV_16 = df.GPRS_NOV_16.fillna(0)
df.GPRS_NOV_16.value_counts(dropna = False)

replacing nans

In [ ]:
df.REVENUE_OCT_16 = df.REVENUE_OCT_16.fillna(0)
df.REVENUE_NOV_16 = df.REVENUE_NOV_16.fillna(0)
df.REVENUE_OCT_16.value_counts(dropna = False)

find if last purchased device is the same as most used

In [ ]:
df['DEVICE_MATCH'] = np.where(df.ASSET_TYPE_LAST == df.DEVICE_TYPE_BUS, 1, 0)

In [ ]:
df.ASSET_TYPE_LAST.value_counts(dropna = False)

replacing DEVICE_TYPE_BUS with 1 if device that the subscriber uses most is smartphone, 0 else

In [ ]:
df.DEVICE_TYPE_BUS = np.where(df.DEVICE_TYPE_BUS == 'Smartphone', 1, 0)

prepearing for one hot encoding

In [ ]:
df.ASSET_TYPE_LAST= np.where((df.ASSET_TYPE_LAST != 'Modem (3G)') & 
                             (df.ASSET_TYPE_LAST != 'Smartphone'),'Other',df.ASSET_TYPE_LAST)
df

In [ ]:
df.USAGE_AREA.value_counts(dropna = 'False')

In [ ]:
df.USAGE_AREA = df.USAGE_AREA.fillna('Undefined')

OHE of USAGE_AREA, ASSET_TYPE_LAST columns

In [ ]:
df_ohe = OHE.fit_transform(df[['USAGE_AREA', 'ASSET_TYPE_LAST']])
d = pd.DataFrame(df_ohe, columns = ["COUNTRYSIDE", "LOCAL_TOWNS", "MINSK", 'MIX',"REGIONAL_CITIES", 'UNDEFINED', 
                                    'MODEM_A_T_LAST', 'OTHER_A_T_LAST', 'SMARTPHOME_A_T_L'])
df = df.join(d)

In [ ]:
df = df.drop(['USAGE_AREA', 'ASSET_TYPE_LAST'], axis = 1)

In [ ]:
df.LOG_TP_CHANGES_NUM = df.LOG_TP_CHANGES_NUM.fillna(0)

In [ ]:
df = df.fillna(0)

In [ ]:
df.to_csv('ptrain.csv', encoding='utf-8', index=False)